// .container{
//     // margin: auto;
//     background-color: blanchedalmond;
// }
.col-md-4{
    background-color: cadetblue;
    border-color: black;
    border-style: dotted;
}

// .searc > div {
//     background-color: blanchedalmond;
   

// }
.searc{
    margin-top: 10px;
    
}