<mat-accordion multi>
  <mat-expansion-panel hideTogglen  *ngFor="let dataS of data" >    <!-- *ngFor="let dataS of data"   (click) = "checkC()" -->
    <mat-expansion-panel-header>
      <mat-panel-title class="col-xs-1 col-md-4">
         
        {{dataS.resturant}} 
      </mat-panel-title>
      <mat-panel-description class=" col-xs-2  col-md-offset-4 col-md-1">
         totall price:  ${{dataS.price}}
      </mat-panel-description>
    </mat-expansion-panel-header>
        <div  class="col-md-4">
          <div>{{dataS.food}}</div>  
        </div>
  </mat-expansion-panel>
</mat-accordion> 