:host{
    margin-bottom: 100px;
    display: block;
}

mat-card{
    display: block;
    width: 80%;
    margin: auto    ;
}
mat-form-field{
    display: block;
}

mat-accordion{
    display: block;
    width: 80%;
    margin: auto;
}

// mat-panel-description{
//     display: block;
//     width: 80%;
// }