 <app-header><h1>header</h1></app-header> 
<main>
    <!-- check mishe age login shode bood in namayesh dade she vagarna inyeki -->
    <app-post-create></app-post-create> 
    <!-- ya esme taraf ya inke login/register -->
    
</main> 

<!-- moshakhas miknim agar login bood chi neshon bde agar nbod chi neshon bde -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Angular 11</a>
    <div class="navbar-nav">
      <li class="nav-item" >
        <a routerLink="login" class="nav-link">login</a>
      </li>
      <li class="nav-item" >
        <a routerLink="register" class="nav-link">register</a>
      </li>
    </div>
  </nav>
  <p *ngIf = "!isLogin" >kjhk    !your password should be at least 8charectors and contains both number and charectors</p> -->


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    <!-- </div>
  </nav> -->

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a routerLink="register" class="nav-link">register</a> -->
        <a class="navbar-brand"  routerLink="register">marzie hallajian</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">basket</a></li>
        <li><a href="#">order</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span><app-post-create></app-post-create> </a></li> -->
        <!-- <li><span class="glyphicon glyphicon-log-in"></span> <app-post-create></app-post-create></li> -->
      </ul>
    </div>
  </nav>
    

<!-- [posts] = "storedPosts" -->
<!-- (postCreated)= "onPostAdde($event)" -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Angular 11</a>
    <div class="navbar-nav">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">login</a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">register</a>
      </li>
    </div>
  </nav> -->
  <!-- <app-alert></app-alert> -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <h1 *ngIf ="false">ngifff truee</h1> -->

  <!-- <app-alert></app-alert> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <!-- component footer bayad doros she -->
  <h1 *ngIf ="true">ngifff truee</h1>

