 <app-header></app-header> 
<main>
    <!-- check mishe age login shode bood in namayesh dade she vagarna inyeki -->
    <app-post-create></app-post-create> 
    <!-- ya esme taraf ya inke login/register -->
    
  </main> 

<!-- moshakhas miknim agar login bood chi neshon bde agar nbod chi neshon bde -->

  <nav class="navbar navbar-inverse " >
    <div class="container-fluid ">
      <div class="col-xs-4 col-sm-2 col-md-1 navbar-header ">
        <div class=" navbar-brand">Welcome</div>
      </div>
      <ul class="nav navbar-nav">
        <li class="col-xs-2 col-sm-3 col-md-offset-1 col-md-2"><a  routerLink="profile">profile</a></li>
        <li class="col-xs-2 col-sm-3 col-md-offset-2 col-md-2"><a routerLink="basket">basket</a></li>
        <li class="col-xs-2 col-sm-3 col-md-offset-2 col-md-2"><a routerLink="order">order</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </nav>


 
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


<app-footer></app-footer>