
main{
    margin-top: 20px;
}

.navbar{
    background-color:rgba(49, 112, 247, 0.384);
    border-color: rgba(49, 112, 247, 0.384);
    border-radius: 0;
}

// .container-fluid{
//     margin-bottom: 100px;
//     display: block;
// }