.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    
  }
  mat-card{
      background-color:rgba(49, 112, 247, 0.267);
  }
  .example-full-width {
    width: 100%;
  }
  button{
      margin-right: 20px;
  }