<form class="example-form">
    <mat-card>

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="akbar" rows="1" [value]="name" #nameInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>phoneNumber</mat-label>
            <input matInput placeholder="09128382312" [value]="phoneNumber" #phoneNumberInput>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>passWord</mat-label>
            <input matInput placeholder="8char(num and alphabet)" [value]="passWord" #passWordInput>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>address</mat-label>
            <textarea matInput placeholder="tehran, Sanaat squere, ..." rows="4" [value]="address"
                #addressInput></textarea>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>area</mat-label>
            <input matInput placeholder="1 or 2 or .." [value]="area" #areaInput>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onChange(nameInput, phoneNumberInput, passWordInput,
                                                            addressInput, areaInput)">
            Change
        </button>
        <button mat-raised-button color="warn" (click)="onCancle(nameInput, phoneNumberInput, passWordInput,
                                                            addressInput, areaInput)">
            Cancle
        </button>
    </mat-card>
</form>